@import "tailwindcss";

/* dark theme base */
:root {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}
